<div class="top-wrapper">
  <div class="top-container">
      <!-- ロゴ画像を配置 -->
    <%= image_tag "logo/osouji_logo.png", alt: "お掃除ベイビーステップ", class: "logo" %>

    <p class="intro-text intro-text-1">掃除しなきゃ。<br>でも、面倒くさい・・・</p>
    <p class="intro-text intro-text-2">そんなあなたに、<br>まずはコレだけ！を提案します</p>
    <p class="intro-text intro-text-3">ガチャを回して<br>お掃除の第一歩！</p>

    <div class="arrow-container intro-text intro-text-4">
      <div class="css-arrow arrow-1"></div>
      <div class="css-arrow arrow-2"></div>
      <div class="css-arrow arrow-3"></div>
    </div>

        <!-- お掃除ガチャボタン -->
    <button class="gacha-btn" id="GachaBtn">
      <span class="btn-text">お掃除する？</span>
    </button>
  </div>
</div>

<!-- ガチャ結果モーダル -->
<div class="modal" id="modal" data-achievement-logo="<%= achievement_logo_path %>">
  <!-- JavaScriptで動的に生成される -->
</div>