<div class="top-wrapper">
  <div class="top-container">
      <!-- ロゴ画像を配置 -->
    <%= image_tag "logo/osouji_logo.png", alt: "お掃除ベイビーステップ", class: "logo" %>

    <p class="intro-text intro-text-1">掃除しなきゃ。<br>でも、面倒くさい・・・</p>
    <p class="intro-text intro-text-2">そんなあなたに、<br>まずはコレだけ！を提案します</p>
    <p class="intro-text intro-text-3">ガチャを回して<br>お掃除の第一歩！</p>

    <div class="arrow-container intro-text intro-text-4">
      <div class="css-arrow arrow-1"></div>
      <div class="css-arrow arrow-2"></div>
      <div class="css-arrow arrow-3"></div>
    </div>

        <!-- お掃除ガチャボタン -->
    <button class="gacha-btn" id="GachaBtn">
      <span class="btn-text">お掃除する？</span>
    </button>
  </div>
</div>

<!-- ガチャ結果モーダル -->
<div class="modal" id="modal">
  <div class="modal-content">
    <button type="button" class="btn-close" aria-label="Close"></button>

    <div class="modal-screen gacha-screen" id="gachaScreen">
      <div class="modal-body">
        <div class="gacha-result" id="gachaResult">
        <!-- ガチャ結果がここに表示される -->
         <div class="text-center mt-4">
            <h3 id="gacha-result-title" class="gacha-title">
              <!-- タイトルがここに表示される -->
            </h3>
            <div id="gacha-result-icon" class="gacha-icon mb-3">
              <!-- アイコンがここに表示される -->
            </div>
          </div>
        </div>

        <div class="button-container">
          <button type="button" class="btn-x_link">で宣言！</button>
          <button type="button" class="btn-completion" id="completionBtn">完了！</button>
        </div>
      </div>
    </div>

      <div class="modal-screen achievement-screen" id="achievementScreen" style="display: none;">
        <div class="modal-body">
          <div class="achievement-content">
            <%= image_tag "logo/osouji_tassei.png", alt: "達成！", class: "achievement-logo" %>
          </div>
        </div>
      </div>
  </div>
</div>